
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]

redirect 302 /congressoeducacao http://uniamerica.br/2015/congressoeducacao
redirect 302 /comunique-se http://issuu.com/faculdadeuniamerica/stacks/89e54ef054eb4b0da95d14830f3ca74e
redirect 302 /comuniquese http://issuu.com/faculdadeuniamerica/stacks/89e54ef054eb4b0da95d14830f3ca74e
redirect 302 /comunique http://issuu.com/faculdadeuniamerica/stacks/89e54ef054eb4b0da95d14830f3ca74e